name: Deploy Ticketing Service Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DEPLOY_DIR: /home/ticketing/app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ticketing-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/ticketing-backend:latest

      - name: Decode Firebase service account
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_BASE64 }}" | base64 -d > serviceAccount.json

      - name: Upload firebase JSON
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          source: "serviceAccount.json"
          target: "${{ env.DEPLOY_DIR }}"

      - name: Deploy container on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/ticketing/app
            docker compose pull
            docker compose up -d
            docker ps

