name: Deploy Ticketing Service Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DEPLOY_DIR: /home/ticketing/app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ticketing-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/ticketing-backend:latest

      - name: Decode Firebase service account
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_BASE64 }}" | base64 -d > serviceAccount.json

      - name: Upload firebase JSON
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          source: "serviceAccount.json"
          target: "${{ env.DEPLOY_DIR }}"

      - name: Deploy container on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            mkdir -p /home/ticketing/app
            
            cat > /home/ticketing/app/backend.env << 'EOF'
            SPRING_DATASOURCE_URL=${{ secrets.DB_URL }}
            SPRING_DATASOURCE_USERNAME=${{ secrets.DB_USERNAME }}
            SPRING_DATASOURCE_PASSWORD=${{ secrets.DB_PASSWORD }}
            MINIO_ENDPOINT=${{ secrets.MINIO_ENDPOINT }}
            MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}
            MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}
            MINIO_STORAGE_ENDPOINT=${{ secrets.MINIO_STORAGE_ENDPOINT }}
            FIREBASE_SERVICE_ACCOUNT_PATH=/app/serviceAccount.json
            EOF
            
            cd /home/ticketing/app
            docker compose pull
            docker compose down
            docker compose up -d
            docker ps

      - name: Verify containers
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            docker ps
            docker images | grep ticketing-backend

